﻿
@{
    ViewBag.Title = "Adivina";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Adivina El Número</h2>
<h3>Nro Generado: @ViewBag.Nro</h3>

@if (ViewBag.Msg != null)
{
    <div class="alert alert-info">
        <h4>@ViewBag.Msg</h4>
    </div>
}

@using (Html.BeginForm())
{
    <div class="form-group">
        <label>Ingresa el Nro:</label>
        <input type="text" name="nro" value="@ViewBag.Suerte" class="form-control" />
    </div>

    <button class="btn btn-warning">Probar Suerte</button>
    @Html.ActionLink("Nuevo Juevo", "Adivina", null, new { @class = "btn btn-info" })
}

