﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Jugar Craps</h2>

@using (Html.BeginForm("Jugar","Home"))
{
    <button class="btn btn-warning">Tirar Dados</button>
    @Html.ActionLink("Nuevo Juevo","Index",null,new {@class="btn btn-info"})

    if(ViewBag.Traking != null)
    {

        <div class="panel panel-danger" style="margin-top: 20px;">
            <div class="panel-heading">
                Traking Juego
            </div>
            <div class="panel-body">
                @Html.Raw(ViewBag.Traking)
            </div>
        </div>
    }
}

